*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}

html,body{
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Kajiro';
    src: url('path/to/kajiro.woff2') format('woff2');
    font-display: swap;
}

#main{
    width: 100%;
    height: 100vh;
}

#back{
    width: 100%;
    height: 100vh;
}

#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#top{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#workingarea{
    padding-top: 120px;
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;
}

#nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 0;
}

#nav img{
    height: 60px;
}

#nleft, #nright{
    display: flex;
    align-items: center;
    gap: 60px;
}

#nav a{
    pointer-events: all;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: white;
}

#shaurya{
    top: 50%; 
    margin-top: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: translate(0%,-50%);
}

#shauryaleft{
    min-width: 50%;
}

#shauryaleft .elem{
    position: relative;
    height: 9vw;
    overflow: hidden;
}

#shauryaleft .elem h1:nth-child(1){
    top: 0;
}

#shauryaleft .elem h1{
    position: absolute;
    top: 100%;
    left: 0;
    line-height: .9;
    font-family: "kajiro";
    color: white;
    font-weight: 100;
    font-size: 11vw;
}

#shauryaright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 17%;
    color: white;
}

#shauryaleft button{
    pointer-events: all;
    padding: .82vw  3vw;
    font-size: 3vw;
    font-family: "kajiro";
    margin-top: 2vw;
}

#shauryaright P{
    text-align: right;
    font-size: 11px;
    font-weight: 300;
}

#shauryaright #imagediv{
    width: 100%;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-image: url(https://images.unsplash.com/photo-1614204424926-196a80bf0be8?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#shauryaright p:nth-child(3){
    margin-bottom: 100px;
}
